body {
    background: rgb(243, 243, 243);
    color: #181818;
}
h1 {
    font-family: serif;
    font-weight: 100;
    font-size: 30pt;
    text-align: center;
    margin-bottom: -3px;
    margin-top: 0px;
    letter-spacing: -2pt;
}

h2 {
    font-family: serif;
    font-size: 20pt;
    font-weight: 100;
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: -0.5pt;
}

p {
    font-family: sans-serif;
    font-size: 9pt;
    text-align: center;
    line-height: 125%;
    max-width: 450px;
    margin: auto auto;
}

a {
    font-family: sans-serif;
    font-size: 9pt;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    color: #181818;
}

.link-header{
    font-style: normal;
    text-decoration: none;
}
/*figcaption {
    font-family: sans-serif;
    font-size: 8pt;
    text-transform: uppercase;
    margin-top: 5px;
}*/

.work {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: top;
    justify-content: center;
}

.work .work-card {
    margin: 4px;
    text-align: center;
    position: relative;
}

.work .work-card img {
    /* position: relative;*/
    display: block;
    padding: 0px;
    max-width: 100%;
    max-height: 600px;
    border-radius: 10px;
}

.work .work-card .img-def {
    border: 1px solid;
    border-color: rgb(243, 243, 243);
}

.work .work-card .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.work .work-title {
    position: absolute;
    font-family: sans-serif;
    font-size: 9pt;
    text-transform: uppercase;
    color: #181818;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.work .work-info {
    font-family: sans-serif;
    font-size: 9pt;
    text-transform: uppercase;
    color: #181818;
    margin-top: 10px;
    margin-bottom: 5px;
    opacity: 0;
    width: 100%;
}

.work .view-project {
    margin-top: -4px;
    opacity: 0;
}

.work-card:hover .work-title{
    opacity: 0;
}

.work-card:hover .work-info{
    opacity: 1;
}

.work-card:hover .img-def {
    opacity: 0;
}

.work-card:hover .img-hover {
    opacity: 1;
    border: 1px solid black;
}

.work-card:hover .view-project {
    opacity: 1;
}

.project-img {
    max-width: 100%;
    max-height: 850px;
    margin: 4px;
    border-radius: 10px;
}

.text-light h1,
.text-light h2,
.text-light p,
.text-light a{
    color: #f6f6f6;
}
